@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VF.woff2") format("woff2");
  font-weight: 100 900; /* variable weight range */
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav a {
  font-family: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

h1,
button,
nav a {
  text-transform:uppercase;
}