APP_ENV=dev
# Set to OFF to disable the service worker
SW=ON
DB_HOST=localhost
DB_NAME=app
DB_A_USER=root
DB_A_PASS=password
DB_USER=user
DB_PASS=password
JWT_SECRET=your_jwt_secret
# If deploying under a subfolder, set APP_BASE to that path (optional, e.g. /myapp)
# APP_BASE=/myapp
VITE_API_BASE_URL=http://localhost:8000/api
APP_PRETTY_URLS=1
